.animeInfo{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding:1em;
    margin-top: 1em;
}

.title{
    font-size: 2em;
    color: #FFFDD0;
    margin-bottom: 0.2em;
}

.description{
    color: #D3D3D3;
    font-family: 'Satisfy', cursive;
}