.qna {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* gap: 2em; */
  padding: 5px 11px;
  margin: 0.5em 0.3em 0.5em 0.3em;
  min-height: 80vh;
  background: white;
  position: relative;
  /* top: 2em; */
  border-radius: 3.5em;
  transition: 0.2s;
  font-family: 'Supermercado One', cursive;
  color:black
}



#question {
  font-size: 2em;
  /* color: rgb(171, 177, 177); */
  color:black;
  margin:1em 0 1em 0.5em; 
}

.optionContainer{
  /* background-color: aquamarine; */
  /* padding:1em 0.5em; */
  width: 99%;
  display: flex;
  flex-direction: column;
  gap:1em;
}
.option{
 background-color: white;
 padding:1em 1em;
 /* border: 1px solid black; */
 border-radius: 0.4em;
 box-shadow: 9px 10px 22px -4px rgba(51,51,51,0.87);
-webkit-box-shadow: 9px 10px 22px -4px rgba(51,51,51,0.87);
-moz-box-shadow: 9px 10px 22px -4px rgba(51,51,51,0.87);
transition: 1s;
  
}

/* blue color;  #c184ff */
/* .option:hover{
  background-color: #c184ff; 
} */

.activeOption{
  background-color: #c184ff; 
}

/* input[type="radio"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
} */


/* .radioInput{
  width: 2em;
  height: 2em;
} */

.headerQna{
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  justify-content: center;
}


